<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About Syllable Soup.">
    <meta name="author" content="Michael Mallok">
    <link rel="icon" type="image/png" href="/static/favicon.png" />

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/starter-template.css" rel="stylesheet">

    <link href="static/bootstrap-slider.css" rel="stylesheet">
</head>

<title>About Syllable Soup</title>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/favicon.png" class="rounded px-3" alt="icon" width="60"
                class="d-inline-block align-text-bottom">Syllable Soup
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
            aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-disabled="true" aria-expanded="false">Modes</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Random Suggestion</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https:humanfractal.art">Art</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div>
            <br>
            <p class="display-3">About Syllable Soup</p>
            <div class="bd-example">
                <p class="lead">The why and the how.
            </div>
        </div>
        <hr class="my-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h12 class="accordion-header" id="flush-headingZero">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero">
                        <div>
                            <p class="h1">What does the unique name generator do?</p>
                        </div>
                    </button>
                    </h3>
                    <div id="flush-collapseZero" class="accordion-collapse collapse" aria-labelledby="flush-headingZero"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="lead">
                                This app generates unique names that are inspired by a large set of actual names.
                                <br>
                                What separates this generator from others is that the generated names aren't just copies
                                of existing ones but (more or less) completely new.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="accordion-item">
                <h12 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div>
                            <p class="h1">Who needs a unique name generator?</p>
                        </div>
                    </button>
                    </h3>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="lead">
                                Soon-to-be parents, programmers, con artists - anyone searching for names that don't
                                exist (yet).
                            </p>
                        </div>
                    </div>
                </h12>
            </div>
            <div class="accordion-item">
                <h1 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <div>
                            <p class="h1">How are the names being generated?</p>
                        </div>
                    </button>
                    </h3>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="lead">
                                I tried tree methods with varying results.<br>
                                All methods use a large list with real names to generate new ones. <br>
                                The list I used was compiled by c't. It can be downloaded <a
                                    href="https://github.com/railsmechanic/firstnames-to-gender"
                                    class="link-primary">here</a>.

                            </p>

                            <div class="accordion accordion-flush" id="accordionFlushSecond">
                                <div class="accordion-item2">
                                    <h12 class="accordion-header2" id="flush-heading0">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse0"
                                            aria-expanded="false" aria-controls="flush-collapse0">
                                            <div>
                                                <p class="h3">The Syllable Randomizer</p>
                                            </div>
                                        </button>
                                        </h3>
                                        <div id="flush-collapse0" class="accordion-collapse collapse"
                                            aria-labelledby="flush-heading0" data-bs-parent="#accordionFlushSecond">
                                            <div class="accordion-body2">
                                                <div>
                                                    <p class="h4 mt-3">How it works</p>
                                                </div>
                                                <p class="lead">
                                                    Using string operations (later versions will be updated to regex),
                                                    the previously saved names are split into syllables (first
                                                    syllables, last syllables and middle syllables).
                                                    <br>
                                                    After dissecting the names, random first and last syllables are
                                                    selected and random middle syllables are stuffed between them.
                                                </p>
                                                <container>
                                                    <img src="static/syllable_randomizer.svg"
                                                        class="rounded mx-auto d-block" alt="syllable_randomizer"
                                                        width="50%">
                                                </container>
                                                <div>
                                                    <p class="h4 mt-3">Pros and cons</p>
                                                </div>
                                                <p class="lead">
                                                <ul class="list-unstyled">
                                                    <ul>
                                                        <li>The generated names are okay but more on the adventurous
                                                            side.</li>
                                                        <li>The code is quick, so you can generate vast amounts of names
                                                            in a few seconds.</li>
                                                    </ul>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                </div>
                                <div class="accordion-item2">
                                    <h12 class="accordion-header2" id="flush-heading1">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse1"
                                            aria-expanded="false" aria-controls="flush-collapse1">
                                            <div>
                                                <p class="h3">Markov Chain Monte Carlo (MCMC)</p>
                                            </div>
                                        </button>
                                        </h3>
                                        <div id="flush-collapse1" class="accordion-collapse collapse"
                                            aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushSecond">
                                            <div class="accordion-body2">
                                                <div>
                                                    <p class="h4 mt-3">How it works</p>
                                                </div>
                                                <p class="lead">
                                                    The real names ar cut into even parts (e.g. pairs of letters). Those
                                                    are called "states".<br>
                                                    Knowing which states normally follow one another in those real
                                                    names, the probabilities for each state change (aka transition
                                                    probabilities) are calculated.<br>
                                                    <br>
                                                    After that, the states are combined respecting the determined
                                                    probabilities.
                                                </p>
                                                <container>
                                                    <img src="static/markov.svg" class="rounded mx-auto d-block"
                                                        alt="markov" width="50%">
                                                </container>
                                                <div>
                                                    <p class="h4 mt-3">Pros and cons</p>
                                                </div>
                                                <p class="lead">
                                                <ul class="list-unstyled">
                                                    <ul>
                                                        <li>The generated names are quite good.</li>
                                                        <li>Depending on how the transition probabilities are calculated
                                                            and
                                                            stored, there are two choices:
                                                            <ul>
                                                                <li>The code takes a very long time to initialize</li>
                                                                <li>The generation of each name takes a little bit
                                                                    longer.</li>
                                                            </ul>
                                                    </ul>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                </div>
                                <div class="accordion-item2">
                                    <h12 class="accordion-header2" id="flush-heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse2"
                                            aria-expanded="false" aria-controls="flush-collapse2">
                                            <div>
                                                <p class="h3">The Generative Adversarial Network</p>
                                            </div>
                                        </button>
                                        </h3>
                                        <div id="flush-collapse2" class="accordion-collapse collapse"
                                            aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushSecond">
                                            <div class="accordion-body2">
                                                <div>
                                                    <p class="h4 mt-3">How it works</p>
                                                </div>
                                                <p class="lead">
                                                    In a generative adversarial network (GAN), we are pitting two neural
                                                    networks against each other.<br>
                                                    One is called the generator and the other one ist called the
                                                    discriminator.<br>
                                                    <br>
                                                    Here, the Generator tries to recreate names from random samples of
                                                    letters
                                                    while the discriminator rejects the generated names it thinks are
                                                    not real.<br>
                                                    Both networks learn from ech other, so the quality of the output
                                                    will improve over time.<br>
                                                    <br>
                                                    If the networks were set up properly, that is...
                                                </p>
                                                <container>
                                                    <img src="static/GAN.svg" class="rounded mx-auto d-block"
                                                        alt="markov" width="50%">
                                                </container>
                                                <div>
                                                    <p class="h4 mt-3">What about the results?</p>
                                                </div>
                                                <p class="lead">
                                                    Looking at the output below, one can discern that the results get
                                                    better.<br>
                                                    The GAN has learned that the first letter ought to be upper-case and
                                                    that the last digits can be placeholders (not all names are created
                                                    with equal length).<br>
                                                    <br>


                                                </p>
                                                <pre class="pre-scrollable">
                                                    <code>
                                                        <p class="h6">The less then stellar results:</p>
AUVRBGE  ïüüUCA
IyæhUaS’Iéü’gEC
...
(~ 100 epochs)
...
LayrwomiYVYYYX_
MbwruonhXVYYYX_
...
...
...
...
(~ 10000 epochs)
...
...
...
...
Wrjdaepdb______
Usjcdhqdb______
Rsieefpeb______
Yujefgodb______
Xrieckodb______
Zticcindb______
Ushddfodc______
                                                </code>
                                            </pre>
                                                <p class="lead">
                                                    I didn't manage to get good results because setting up both networks
                                                    to work well together is an art.<br>
                                                    It might be worth the effort, though, as GANs are very powerful.
                                                </p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="accordion-item">
                <h1 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <div>
                            <p class="h1">But how are these names <em>actually</em> being generated?</p>
                        </div>
                    </button>
                    </h3>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div>
                                <p class="h4 mt-3">Using MCMC</p>
                            </div>
                            <ul class="list-unstyled">
                                <p class="lead"></p>
                                <ul>
                                    <li>Load a list of names</li>
                                    <li>Generate states and transition probabilities for each state on-the-fly</li>
                                    <li>Chain states together</li>
                                    <li>Filter out non-unique and inappropriate names</li>
                                    <li>Find most similar names (using <a
                                            href="https://rosettacode.org/wiki/Jaro-Winkler_distance#Julia"
                                            class="link-primary">Jaro-Winkler distance)</a></li>
                                    <li>Let users play!</li>
                                </ul>
                                </p>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="accordion-item">
                <h1 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <div>
                            <p class="h1">What comes next?</p>
                        </div>
                    </button>
                    </h3>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <p class="lead"></p>
                                <ul>
                                    <li>Crushing bugs and cleaning the code</li>
                                    <li>Getting a cool url</li>
                                    <li>Implementing choosing name lists by cultural origin</li>
                                    <li>Implementing all three generation algorithms</li>
                                    <li>Turning the markov generator into a pip-installable package</li>
                                    <li>Creating an API</li>
                                </ul>
                                </p>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="accordion-item">
                <h1 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <div>
                            <p class="h1">Misc</p>
                        </div>
                    </button>
                    </h3>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div>
                                <p class="h4 mt-3">Thank you</p>
                            </div>
                            <ul class="list-unstyled">
                                <p class="lead"></p>
                                <ul>
                                    <li>Spiced Academy</li>
                                    <li>Bundesagentur für Arbeit</li>
                                    <li>Kristian and the other teachers</li>
                                    <li>My fellow students</li>
                                    <li>My wife and daughter (who's name wasn't generated, in the end)</li>
                                </ul>
                                </p>
                            </ul>
                            <div>
                                <p class="h4 mt-3">Tech stack</p>
                            </div>
                            <container>
                                <img src="https://www.python.org/static/img/python-logo.png" class="rounded float-start"
                                    alt="..." width="200">
                                <img src="https://numpy.org/images/logos/numpy.svg" class="rounded float-start"
                                    alt="..." width="100">
                                <img src="https://flask.palletsprojects.com/en/2.0.x/_images/flask-logo.png"
                                    class="rounded float-start" alt="..." width="200">
                                <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-social.png"
                                    class="rounded float-start" alt="..." width="200">
                                <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-2752148-2284965.png"
                                    class="rounded float-start" alt="..." width="100">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/JSON_vector_logo.svg/160px-JSON_vector_logo.svg.png"
                                    class="rounded float-start" alt="..." width="100">
                                <img src="https://ewdvtw8.imgix.net/news/wp-content/uploads/2014/07/stack_overflow_vorschau.jpeg?auto=format%2Ccompress&fit=crop&h=348&ixlib=php-3.3.1&q=75&w=620"
                                    class="rounded float-start" alt="..." width="200">
                            </container>
                        </div>
                    </div>
            </div>
        </div>

</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span>
            <a href="/legal" class="text-muted">© 2021 Michael Mallok</a>
        </span>
    </div>
</footer>

<script src="static/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="static/popper.js"></script>
<script src="static/bootstrap.js"></script>
<script src="static/bootstrap-slider.js"></script>
<script src="static/form.js"></script>

</body>

</html>