<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About Syllable Soup.">
    <meta name="author" content="Michael Mallok">
    <link rel="icon" type="image/png" href="/static/favicon.png" />

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/starter-template.css" rel="stylesheet">

    <link href="static/bootstrap-slider.css" rel="stylesheet">
</head>

<title>Legal Disclosure</title>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/favicon.png" class="rounded px-3" alt="icon" width="60"
                class="d-inline-block align-text-bottom">Syllable Soup
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
            aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-disabled="true" aria-expanded="false">Modes</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Random Suggestion</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https:humanfractal.art">Art</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div>
            <br>
            <p class="display-3">Legal Disclosure</p>
            <div class="bd-example">
                <p class="lead">AKA How I Get Your Soul
            </div>
        </div>
        <hr class="my-4">
        <div>
            Disclosures in accordance with § 5 TMG: <br>
            Angaben gemäß § 5 TMG:<br>
        </div>
        <br>
        <div>
            Michael Mallok<br>
            Pettenkoferstr. 3<br>
            10247 Berlin<br>
        </div>
        <br>
        <div>
            Contact:<br>
            0049 177 9600507<br>
            hello@humanfractal.art<br>
            humanfractal.art﻿<br>
        </div>
        <br>
        <div>
            EU-Streitschlichtung<br>
            Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<br>
            https://ec.europa.eu/consumers/odr<br>
            Unsere E-Mail-Adresse finden Sie oben im Impressum.<br>
            <br>
            Verbraucherstreitbeilegung/Universalschlichtungsstelle<br>
            Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer<br>
            Verbraucherschlichtungsstelle teilzunehmen.<br>
        </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span>
            <a href="#" class="text-muted">© 2021 Michael Mallok</a>
        </span>
    </div>
</footer>

<script src="static/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="static/popper.js"></script>
<script src="static/bootstrap.js"></script>

</body>

</html>